<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet"  href="../../src/styles/main.css">
  {% include 'partials/head.njk' %}
  <body>
    {% include "partials/header.njk" %}
    {{ content | safe }}
    {% include "partials/footer.njk" %}
  </body>