---
layout: base.njk
---
<link rel="stylesheet"  href="../../assets/styles/main.css">

<div class="flex flex-col justify-start items-center px-12 my-24">
    <article class="prose lg:prose-xl">
        <h1>{{ title }}</h1>
        {{ content | markdown | safe }}
    </article>
</div>