{% if teammate.people %}
    <div class="container flex mx-auto my-12 justify-center">
        <div class="grid grid-cols-2 md:grid-cols-3 px-12 gap-12">
            {% for person in teammate.people %}
                <div class="flex mx-auto my-8 justify-items-center">
                    <div class= "w-32 rounded-lg shadow-xl bg-white ">
                        <img src="{{ person.image }}" alt="{{ person.name }}" class="w-full"/>
                        <div class=" text- md:text-2xl font-bold py-4 px-4 text-center ">{{ person.name }}</div>
                        <div class="text-gray-500 text-center font-semibold mx-auto my-2 ">{{ person.position }}</div>
                        <div class="text-gray-500 text-center font-semibold mx-auto my-2 ">{{ person.location }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}